* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-size: 200% 100% !important;
  background: linear-gradient(to bottom right, #4fb7e7 10%, #dfdfdf);
  height: 100vh; }

.form {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  border-radius: 6px;
  overflow: hidden;
  width: 50%; }

.form__input {
  display: block;
  width: 100%;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  transition: 0.3s; }
  .form__input:focus {
    background: #f7f7f7; }

.btn {
  display: block;
  width: 100%;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  -webkit-appearance: none;
  outline: 0;
  border: 0;
  color: white;
  background: #ABA194;
  transition: 0.3s; }
  .btn:hover {
    background: #a09486;
    cursor: grab; }

.to-login {
  color: white;
  float: right;
  margin-top: 10px; }

.error {
  border: red 3px solid; }
