* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-size: 200% 100% !important;
  background: linear-gradient(to bottom right, #4fb7e7 10%, #dfdfdf);
  height: 100vh; }

.form {
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  border-radius: 6px;
  overflow: hidden;
  width: 40%;
  box-shadow: 5px 5px 5px gray;
  background-color: white; }

.form__input {
  display: block;
  width: 100%;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  -webkit-appearance: none;
  border: 0;
  outline: 0;
  transition: 0.3s; }
  .form__input:focus {
    background: #f7f7f7; }

.btn {
  display: block;
  width: 100%;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  -webkit-appearance: none;
  outline: 0;
  border: 0;
  color: white;
  background: #ABA194;
  transition: 0.3s; }
  .btn:hover {
    background: #a09486;
    cursor: grab; }

.su-li-link {
  width: 100%; }

.to-login {
  float: right;
  padding: 10px;
  color: black; }

.error {
  border: red 3px solid; }

.topbar-responsive {
  background: #4b4b4b;
  padding: 1rem 1.5rem;
  height: 50px; }
  .topbar-responsive .topbar-responsive-logo {
    color: black;
    vertical-align: middle;
    font-size: 20px; }
  .topbar-responsive .menu {
    background: #4b4b4b; }
    .topbar-responsive .menu li:last-of-type {
      margin-right: 0; }
    .topbar-responsive .menu a {
      color: black;
      transition: color 0.15s ease-in; }
      .topbar-responsive .menu a:hover {
        color: #e4e4e4; }
      @media screen and (max-width: 39.9375em) {
        .topbar-responsive .menu a {
          padding: 0.875rem 0; } }
    .topbar-responsive .menu .topbar-responsive-button {
      color: black;
      border-color: white;
      border-radius: 5000px;
      transition: color 0.15s ease-in, border-color 0.15s ease-in; }
      .topbar-responsive .menu .topbar-responsive-button:hover {
        color: #e4e4e4;
        background-color: red;
        border-color: #e4e4e4; }
      @media screen and (max-width: 39.9375em) {
        .topbar-responsive .menu .topbar-responsive-button {
          width: 100%;
          margin: 0.875rem 0; } }
  @media screen and (max-width: 39.9375em) {
    .topbar-responsive {
      padding: 0.75rem; }
      .topbar-responsive .top-bar-title {
        position: relative;
        width: 100%; }
        .topbar-responsive .top-bar-title span {
          position: absolute;
          right: 0;
          border: 1px solid white;
          border-radius: 5px;
          padding: 0.25rem 0.45rem;
          top: 50%;
          transform: translateY(-50%); }
          .topbar-responsive .top-bar-title span .menu-icon {
            margin-bottom: 4px; } }

.landing-container {
  width: 100%;
  height: 100%;
  background-color: grey; }
