$font-family:   'Roboto', sans-serif;
$font-size:     14px;

$color-primary: #ABA194;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    font-size: $font-size;
    background-size: 200% 100% !important;
    background: linear-gradient(to bottom right, #4fb7e7 10%, #dfdfdf);
    height: 100vh
}

// SIGN UP AND LOG IN FORM STYLE
.form {
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    border-radius: 6px;
    overflow: hidden;
    width: 40%;
    box-shadow: 5px 5px 5px gray;
    background-color: white;
}

.form__input {
    display: block;
    width: 100%;
    padding: 20px;
    font-family: $font-family;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    transition: 0.3s;
    
    &:focus {
        background: darken(#fff, 3%);
    }
}

.btn {
    display: block;
    width: 100%;
    padding: 20px;
    font-family: $font-family;
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    color: white;
    background: $color-primary;
    transition: 0.3s;
    
    &:hover {
        background: darken($color-primary, 5%);
        cursor: grab;
    }
}

.su-li-link {
    width: 100%;
}

.to-login {
    float: right; 
    padding: 10px;
    color: black;
}

.error {
    border: red 3px solid;
}

// NAV STYLE
$topbar-responsive-bg: rgb(75, 75, 75);
$topbar-responsive-animation-type: none; // or use slide-down or none

.topbar-responsive {
  background: $topbar-responsive-bg;
  padding: 1rem 1.5rem;
  height: 50px;

  .topbar-responsive-logo {
    color: black;
    vertical-align: middle;
    font-size: 20px;
  }

  .menu {
    background: $topbar-responsive-bg;

    li:last-of-type {
      margin-right: 0;
    }

    a {
      color: black;
      transition: color 0.15s ease-in;

      &:hover {
        color: lighten($topbar-responsive-bg, 60%);
        
      }

      @media screen and (max-width: 39.9375em) {
        padding: 0.875rem 0;
      }
    }

    .topbar-responsive-button {
      color: black;
      border-color: white;
      border-radius: 5000px;
      transition: color 0.15s ease-in, border-color 0.15s ease-in;

      &:hover {
        color: lighten($topbar-responsive-bg, 60%);
        background-color: red;
        border-color: lighten($topbar-responsive-bg, 60%);
      }

      @media screen and (max-width: 39.9375em) {
        width: 100%;
        margin: 0.875rem 0;
      }
    }
  }

   @media screen and (max-width: 39.9375em) {
     padding: 0.75rem;

    .top-bar-title {
      position: relative;
      width: 100%;

      span {
        position: absolute;
        right: 0;
        border: 1px solid white;
        border-radius: 5px;
        padding: 0.25rem 0.45rem;
        top: 50%;
        transform: translateY(-50%);

        .menu-icon {
          margin-bottom: 4px;
        }
      }
    }
  }
}

// LANDING STYLE
.landing-container {
    width: 100%;
    height: 100%;
    background-color: grey;
}

.landing-greeting {
    text-align: center;
    padding: 20px;
}

.landing-userbtns {
    display: flex;
    justify-content: center;
}

.user-button {
    width: 330px;
    background-color: rgb(61, 61, 61);
    margin: 5px 10px;

    &:hover {
        background-color: rgb(39, 39, 39);
    }
}

.add {
    margin-left: 5px;
}






